statemachine/checkout.asl.json
{
  "Comment": "Order Processing Workflow",
  "StartAt": "ParallelProcessing",
  "States": {
    "ParallelProcessing": {
      "Type": "Parallel",
      "Next": "WrapResults",
      "Branches": [
        {
          "StartAt": "ProcessPayment",
          "States": {
            "ProcessPayment": {
              "Type": "Task",
              "Resource": "${PaymentFunctionArn}",
              "End": true
            }
          }
        },
        {
          "StartAt": "ProcessInventory",
          "States": {
            "ProcessInventory": {
              "Type": "Task",
              "Resource": "${InventoryFunctionArn}",
              "End": true
            }
          }
        }
      ]
    },
    "WrapResults": {
      "Type": "Pass",
      "Parameters": {
        "orderResults.$": "$"
      },
      "Next": "PublishToEventBridge"
    },
    "PublishToEventBridge": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "States.JsonToString($)",
            "DetailType": "OrderProcessed",
            "EventBusName": "${EventBusName}",
            "Source": "checkout.workflow"
          }
        ]
      },
      "End": true
    }
  }
}